# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
venv/
.env
.env.local

# IDE
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# Logs
logs/
*.log
